.header{
    width: 100%;
    min-height: 100vh;
    background-image: url("Img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

 .bg-light{
    /* position: fixed; */
    /* z-index:20; */
    width: 100%;
    /* background-color: transparent!important; */
   
} 

@media (min-width: 992px){
    .bg-light{
        background-color:transparent!important;
    }
    .bg-light a{
        color: white;}
    
}