@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Rozha+One&display=swap');

h1{
    font-family: 'Rozha One', serif;
}

p{
    font-family: 'Questrial', sans-serif;
}
h3{
    font-family: 'Questrial', sans-serif;
}


#header{
    width: 100%;
    min-height: 100vh;
    background: url("../Img/hero-bg.jpg") top center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#header li{
    font-family: 'Rozha One', serif;
}

#header::before{
    content: '';
    width: 100%;
    min-height: 100vh;
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom:0;
    top:0;
    left: 0;
    right: 0;
    
}

#header #presentation{
    position: relative;
    z-index: 2;
    min-width: 300px;
}

/* rgba(5, 13, 24, 0.1)*/

 .bg-light{
    /* position: fixed; */
    /* z-index:20; */
    width: 100%;
    /* background-color: transparent!important; */
   
} 

.bg-light a{
    text-shadow: 10px,red;
}

@media (min-width: 992px){
    .bg-light{
        background-color:transparent!important;
    }
    .bg-light a{
        color: rgb(255, 255, 255);}
    
}

.text-header{
    color: rgb(255, 255, 255);
   min-height: 90vh;
}

.btn-yo{
    padding: 7px 12px;
    color: rgb(255, 255, 255);
    background-color: red;
}
.btn-yo:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(212, 4, 4);
}


/*Main styles*/
main .container{
    margin-top: 100px;
    margin-bottom:200px;
}

#phrase  h5{
    text-align: center;
    font-family: 'Rozha One', serif;
    font-size: 30px;
}

#phrase p{
    text-align: center;
    font-family: 'Rozha One', serif;
    font-size: 20px;
}

#imagen-separator{
    width: 100%;
    min-height: 100vh;
    background: url("../Img/imagen.jpg") top center ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#imagen-separator::before{
    content: '';
    width: 100%;
    min-height: 100vh;

    background: rgba(5, 13, 24, 0.3);
    position: absolute;  
}

#imagen-separator #info{
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#imagen-separator p{
    font-size: 18px;
}

#imagen-separator .btn{
    background-color: red;
    color: white;
}

#proyects{
    margin-top: 50px;
    margin-bottom: 50px;
}

#proyects h1{
    margin-bottom: 20px;
}

footer ul{
    margin-right: 50px;
}




