@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Rozha+One&display=swap');

h1{
    font-family: 'Rozha One', serif;
}

p{
    font-family: 'Questrial', sans-serif;  
}
#header li{
    font-family: 'Rozha One', serif;
}

header{
    margin-bottom: 50px;
}


main img{
    margin-top: 20px;
    margin-bottom: 20px;
}

section{
    margin-top: 20px;
}

main #content{
    font-size: 20px;
}

/* Footer Styles */
footer{
    background-color: #0d0d0d;
}

footer ul{
    margin-right: 50px;
}

footer {
    color: #F20707;
}
/* finish footer styles */